/*
.device-container{
    max-width: 350px;
}
*/

h1{
    color: #6356A1;
    font-family: "Poppins Medium", serif;
    font-size: 28px;
}
.checkbox{
margin: 0 5px 0 0;

}
.card{
    margin-top: -20px;
    z-index: -1;
}
.content{
    width: 100%;
    margin:0px 0px 0 12px;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
}
.device-container{
    margin: 14px 0 0 0;
}
.mat-card{
    background-color: #6356A1;
    width: 475px;
    height: 218px;
    border-radius: 28px;
    margin-bottom: 50px;
}
.card-content{
    margin: 0px 0px 0px 31px;
    padding: 21px 0px 0 0;
}
#menu-text{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.container{
    margin: 20px 0 30px 20px;
    padding: 0 0 0 0;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #ffffff;
    border-radius: 30px;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background: #ffffff !important;
    border: 3px solid #6356A1;
    border-radius: 28px;


}
::ng-deep .menu {
    background-color: #9376e2;
    border: 2px solid #9376e2;
    display: inline-block;
    border-radius: 47px;
}
#delete-icon{
    margin: 0px 8px -15px 0;
    padding: 0 0 0 0;
}
#restart-icon{
    margin: 0px 4px -14px 0;
    padding: 0 0 0 0;
}
#update-icon{
    margin: 0px 0px -14px 0;
    padding: 0 0 0 0;
}
::ng-deep .mat-menu-item{
    color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins Medium", serif;
    font-size: 21px;
}

::ng-deep .mat-menu-panel{
    border-radius: 47px;
}
#menu-icon{
 color: #6356A1;
}
