
    <form  [formGroup]="editUserInfoForm" fxLayout="column" fxLayoutAlign="start stretch">

            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="User name" formControlName="userName">

            </mat-form-field>


            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="Email" formControlName="email">
            </mat-form-field>



            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="Address" formControlName="address">
            </mat-form-field>



            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control"  placeholder="Company name"  formControlName="companyName">
            </mat-form-field>




            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="Company address"  formControlName="companyAddress">

            </mat-form-field>



            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="Bank account" formControlName="bankAccount">
            </mat-form-field>



            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="Phone number" formControlName="phoneNumber">
            </mat-form-field>



            <mat-form-field class="item input-field">
                <input matInput type="text" class="form-control" placeholder="Billing address" formControlName="billingAddress">
            </mat-form-field>
            <button mat-button color="primary">Update</button>
    </form>




