<h1 mat-dialog-title>Change my password</h1>
<div mat-dialog-content>
    <mat-form-field class="item input-field">
        <input matInput type="password" class="form-control" placeholder="Old password" >
    </mat-form-field>



    <mat-form-field class="item input-field">
        <input matInput type="password" class="form-control" placeholder="New password" >
    </mat-form-field>



    <mat-form-field class="item input-field">
        <input matInput type="password" class="form-control" placeholder="Confirm new password" >
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button  cdkFocusInitial>Update</button>
</div>

